<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"
            ><i class="fa-solid fa-rectangle-list"></i> Lista</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nuevo"
            ><i class="fa-solid fa-square-plus"></i> Nuevo Producto</a
          >
        </li>
      </ul>
      <span class="navbar-text me-2">
        Navbar text with an inline element
      </span>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
